.nrgsoft-widget__toolbar {

  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;

  & > a, & > button {
    margin-right: 4px;
    padding: 10px 12px;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1rem;

    &.active, &:hover {
      background-color: #454545;
    }
  }

  & > button {
    border: none;
    background-color: #303030;
    cursor: pointer;
  }

}