<div
    nrg-toggle-class="show:--show-progressList|--show-confirmDialog|--show-emptyMessage"
>
    <nrg-widget
        nrg:class="nrgsoft.widget.base.Text"
        nrg:bem-element="emptyMessage"
        nrg:assign.value="emptyMessage"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.dialog.Confirm"
        nrg:bem-element="confirmDialog"
        nrg:assign.is-active-hotkeys="isActiveWidget"
        nrg:assign.message="confirmMessage"
        nrg:on.confirm="confirm"
        nrg:on.cancel="cancel"
    ></nrg-widget>

    <nrg-widget
        nrg:property="progressList"
        nrg:class="nrgsoft.widget.progress.List"
        nrg:bem-element="progressList"
    ></nrg-widget>

</div>