<form
    nrg-inherit="nrgsoft.sdk.form.Form"
    nrg-use-traits="nrgsoft.sdk.gui.observer.AppendWidgetToList"
    nrg-on.submit="submit"
>

    <engine-widget
        engine:property="name"
        engine:class="nrgsoft.auth.form.role.element.Name"
        engine:event="appendWidget"
    ></engine-widget>

    <engine-widget
        engine:property="description"
        engine:class="nrgsoft.auth.form.role.element.Description"
        engine:event="appendWidget"
    ></engine-widget>

    <engine-widget
        engine:property="permissions"
        engine:class="nrgsoft.auth.form.role.element.Permissions"
        engine:event="appendWidget"
    ></engine-widget>

    <engine-widget
        engine:property="submit"
        engine:class="nrgsoft.widget.form.SubmitButton"
        caption="save"
    ></engine-widget>

</form>