<div>
    <h2>{name}</h2>
    <small class="d-block text-muted">Created At:&emsp;<span>{createdAt}</span></small>
    <small nrg-toggle-class.d-none="!hasUpdated" class="text-muted">
        Updated At:&emsp;<span>{updatedAt}</span>
    </small>
    <p>{description}</p>
    <div
        nrg-append.permission-list="nrgsoft.widget.NestedList"
        nrg-assign.permission-list.data="permissionNestedList"
    ></div>
</div>