@import "modal/header";

.nrgsoft-widget-layout-Modal {
  position: absolute;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 200px);
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);

  &__window {
    margin: auto;
    width: 40%;
    min-width: 300px;
    border: 1px solid #707070;
  }

  &__content {
    background-color: #272721;
    padding: 30px;
  }
}