<div
    nrg-append.panels="nrgsoft.widget.Panels"
>
    <h1 class="header">{header|user roles}</h1>
    <div class="row">
        <div class="col-md-6">
            <nav class="float-left mr-md-2" nrg-append.pagination="nrgsoft.widget.Pagination"></nav>
            <div class="float-left" nrg-append.limitation="nrgsoft.widget.Limitation"></div>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-primary mr-md-2"
                nrg-on.click="askToShowForm"
            >
                <i class="fas fa-plus"></i>
            </button>
            <button class="btn btn-primary"
                nrg-on.click="askToShowFilter"
            >
                <i class="fas fa-filter"></i>
            </button>
        </div>
    </div>

    <div
        nrg-append.table="nrgsoft.widget.Table"
        nrg-on.table.ask-to-add-condition="askToShowFilter"
    ></div>

    <div class="d-none">
        <engine-widget
            engine:property="form"
            engine:class="nrgsoft.auth.form.role.Create"
        ></engine-widget>

        <engine-widget
            engine:property="filter"
            engine:class="nrgsoft.widget.Filter"
        ></engine-widget>
    </div>

</div>