.storage-icon {
  display: block;

  &:before {
    position: relative;
    font-family: 'Font Awesome 5 Free', serif;
    color: #6dccf1;
    font-size: 1rem;
    content: '\f0c2';
    display: inline-block;
  }
}