.nrgsoft-fileManager-view-storage-list-Toolbar {

  @extend .nrgsoft-widget__toolbar;

  &__create-storage {
    @include menu-item-icon('\f067');
  }

  &__delete-item {
    @include menu-item-icon('\f00d');
  }
}