<div
     nrg-use-traits="nrgsoft.sdk.gui.trigger.Hotkeys"
     nrg-get.hotkeys="{
        switchToLeft: `Ctrl+37`,
        switchToRight: `Ctrl+39`
     }|code"
>

    <div nrg-bem-element="panels">
        <div nrg-bem-element="panel"
             nrg-element="left"
             nrg-toggle-class.--inactive="inactiveLeft|activeLeft"
        ></div>

        <div nrg-bem-element="panel"
             nrg-element="right"
             nrg-toggle-class.--inactive="inactiveRight|activeRight"
        ></div>
    </div>

</div>