<div>
    <nrg-widget
        nrg:class="nrgsoft.widget.menu.Dropdown"
        nrg:bem-modifiers="plus"
    >
        <nrg-widget
            nrg:class="nrgsoft.widget.base.Link"
            nrg:bem-element="create-storage"
            url="/file-manager/storage/local/save"
            content="local"
        ></nrg-widget>

        <nrg-widget
            nrg:class="nrgsoft.widget.base.Link"
            nrg:bem-element="create-storage"
            url="/file-manager/storage/ftp/save"
            content="ftp"
        ></nrg-widget>

        <nrg-widget
            nrg:class="nrgsoft.widget.base.Link"
            nrg:bem-element="create-storage"
            url="/file-manager/storage/sftp/save"
            content="sftp"
        ></nrg-widget>
    </nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.base.HotkeyLink"
        nrg:bem-element="delete-item"
        nrg:assign.is-active-hotkeys="isActiveHotkeys"
        nrg:on.before-go-to="deleteItem"
        url="/file-manager/storage/delete"
        click-hotkey="Delete"
        title="delete"
    ></nrg-widget>
</div>