<div>
    <nrg-widget
        nrg:property="toolbar"
        nrg:class="nrgsoft.fileManager.view.storage.list.Toolbar"
    ></nrg-widget>

    <nrg-widget
        nrg:property="head"
        nrg:class="nrgsoft.widget.table.SortableHead"
    ></nrg-widget>

    <nrg-widget
        nrg:property="grid"
        nrg:class="nrgsoft.fileManager.view.storage.list.Grid"
    ></nrg-widget>
</div>