@mixin caret-down($right: 7px, $content: '\f0d7' ,$position: absolute) {
  &:after {
    position: $position;
    right: $right;
    font-family: "Font Awesome 5 Free", serif;
    content: $content;
  }
}

@mixin caret-up($right: 7px, $position: absolute) {
  @include caret-down(7px, '\f0d8')
}

@mixin menu-item-icon($content, $display: inline) {
  &:before {
    font-family: 'Font Awesome 5 Free', serif;
    content: $content;
    display: $display;
  }
}