* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x:hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
