.nrgsoft-fileManager-view-directory-DoubleRead {

  $root: &;
  $panels: #{$root}__panels;
  $panel: #{$root}__panel;
  $panel--inactive: #{$panel}--inactive;
  $toolbar: '.nrgsoft-fileManager-view-directory-read-Toolbar';
  $dropdown: '.nrgsoft-widget-menu-Dropdown';
  $breadcrumbs: '.nrgsoft-fileManager-view-directory-read-Breadcrumbs';
  $header: '.nrgsoft-widget-table-SortableHead';

  color: #ffffff;

  #{$panels} {
    display: flex;

    #{$panel} {
      flex-grow: 1;
      flex-basis: 0;
      width: 50%;
    }

    #{$panel--inactive} {

      #{$toolbar} {
        a, button {
          color: #6b6a6a;
        }

        #{$dropdown} {
          color: #6b6a6a;
        }
      }

      #{$breadcrumbs} {
        a {
          color: #6b6a6a;
        }
      }

      #{$header} {
        background: #303030;

        table {
          tr {
            td {
              a {
                color: #6b6a6a;
              }
              &.sortable {
                a:after {
                  color: #6b6a6a;
                }
              }
            }
          }
        }
      }

    }
  }
}