.nrgsoft-fileManager-view-directory-Read {

  @import "read/toolbar";
  @import "read/breadcrumbs";
  @import "read/file-icon";

  &--show-progress &__progress {
    display: block;
  }

  &--show-progress &__body {
    display: none;
  }

  &--hide-progress &__body {
    display: block;
  }

  &--hide-progress &__progress {
    display: none;
  }
}
