<div nrg-toggle-class="show:--show-progressList|--show-confirmDialog|--show-emptyMessage">

    <nrg-widget
        nrg:class="nrgsoft.widget.base.Text"
        nrg:bem-element="emptyMessage"
        nrg:assign.value="emptyMessage"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.fileManager.view.common.Task"
        nrg:bem-element="confirmDialog"
        nrg:assign.is-active-widget="isActiveWidget"
        nrg:assign.form="form"
        nrg:on.confirm="confirm"
        nrg:on.cancel="cancel"
    ></nrg-widget>

    <nrg-widget
        nrg:property="progressList"
        nrg:class="nrgsoft.widget.progress.List"
        nrg:bem-element="progressList"
    ></nrg-widget>

</div>
