<td
    nrg-toggle-class.sortable="sortable"
    nrg-toggle-class="direction:asc|desc"
>
    <div nrg-element="wrapper">
        <nrg-widget
            nrg:class="nrgsoft.widget.base.Link"
            nrg:assign.url="url"
            nrg:assign.content="content"
            nrg:on.before-go-to="beforeGoTo"
        ></nrg-widget>
    </div>
</td>
