.form-element {

  margin-bottom: 12px;

  label {
    text-transform: capitalize;
    color: #ffffff;
  }

  input, textarea, select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #494740;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    background-color: #303030;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;

    &:focus {
      border-color: #6dccf1;
      box-shadow: 0 0 3px #6dccf1;
    }
  }

  .error-message {
    display: none;
    padding: 8px 0 0;
    color: #d52b48;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  &.is-required {
    label:after {
      content: '*';
      padding: 3px;
      color: #dddddd;
    }
  }

  &.is-valid {
    input, textarea, select {
      border-color: #34b962;
      &:focus {
        box-shadow: 0 0 3px #5193b9;
      }
    }
  }

  &.is-invalid {
    input, textarea, select {
      border-color: #d52b48;
      &:focus {
        box-shadow: 0 0 3px #d52b48;
      }
    }
    .error-message {
      display: block;
    }
  }
}