.radio {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;

      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;

      border-radius: 50%;
      background: white;
    }
  }

  &:hover input ~ .checkmark {
    background-color: #cccccc;
  }

  input:checked ~ .checkmark{
    background-color: #5193b9;
    &:after {
      display: block;
    }
  }
}