.nrgsoft-fileManager-view-file-Unzip {
  color: #ffffff;

  &__confirmDialog, &__progressList {
    display: none;
  }

  &--show-confirmDialog &__confirmDialog {
    display: block;
  }

  &--show-progressList &__progressList {
    display: block;
  }
}