.nrgsoft-fileManager-view-file-Zip {
  color: #ffffff;

  &__emptyMessage, &__confirmDialog, &__progressList {
    display: none;
  }

  &--show-emptyMessage &__emptyMessage {
    display: block;
  }

  &--show-confirmDialog &__confirmDialog {
    display: block;
  }

  &--show-progressList &__progressList {
    display: block;
  }
}