.nrgsoft-fileManager-view-directory-read-Breadcrumbs {
  padding: 10px 10px 10px 13px;
  line-height: 1.2;
  background-color: #303030;

  a {
    color: #ffffff;

    &:first-child:before {
      font-family: 'Font Awesome 5 Free', serif;
      content: '\f015';
      color: inherit;
    }

    &:after {
      content: '/';
      font-size: 1.0rem;
      padding: 3px;
    }

    &:last-child:after {
      content: none;
    }
  }
}