.file-icon {
  display: block;

  &:before {
    font-family: 'Font Awesome 5 Free', serif;
    color: #6dccf1;
    font-size: 1.5rem;
    content: '\f15b';
    display: inline-block;
  }

  &.dir:before {
    content: '\f07b';
    color: #ff9933;
  }

  &.http:before {
    content: '\f0c1';
  }

  &.https:before {
    content: '\f0c1';
  }

  &.txt:before {
    content: '\f15c';
  }

  &.png:before {
    content: '\f1c5';
  }

  &.pdf:before {
    content: '\f1c1';
    color: #e34a38;
  }

  &.mp3:before {
    content: '\f001';
    color: #2370a4;
  }

  &.jpg:before {
    content: '\f1c5';
    color: #56bf81;
  }

  &.zip:before {
    content: '\f1c6';
    color: #cfa44e;
  }

  &.parent:before {
    content: '\f3e5';
    padding-right: 24px;
  }
}