.nrgsoft-fileManager-view-directory-read-Toolbar {

  @extend .nrgsoft-widget__toolbar;

  &__new-folder {
    @include menu-item-icon('\f07b');
  }

  &__new-file {
    @include menu-item-icon('\f15b');
  }

  &__new-hyperlink {
    @include menu-item-icon('\f0c1');
  }

  &__copy-file {
    @include menu-item-icon('\f0c5');
  }

  &__upload-file {
    @include menu-item-icon('\f382');
  }

  &__download-file {
    @include menu-item-icon('\f381');
  }

  &__zip-file {
    @include menu-item-icon('\f1c6');
  }

  &__delete-file {
    @include menu-item-icon('\f00d');
  }

  &__rename-file {
    @include menu-item-icon('\f044');
  }

  > *:last-child {
    margin-left: auto;
  }

}