<div
     nrg-use-traits="nrgsoft.widget.layout.behaviour.Insert"
>
    <nrg-widget
        nrg:property="mainMenu"
        nrg:class="nrgsoft.fileManager.view.layout.MainMenu"
    ></nrg-widget>

    <div class="content"
         nrg-insert="@content"
    ></div>

</div>