<div
     nrg-use-traits="nrgsoft.fileManager.view.layout.mainMenu.AlignLinks"
>
    <nrg-widget
        nrg:property="fileManagerLink"
        nrg:class="nrgsoft.widget.base.Link"
        nrg:bem-element="home"
        url="/"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.base.Link"
        nrg:bem-element="storage-list"
        url="/file-manager/storage/list"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.base.Link"
        nrg:bem-element="logout"
        url="/auth/user/logout"
    ></nrg-widget>

</div>
