.nrgsoft-widget-table-Body {

  overflow: auto;

  table {
    width: 100%;
    border-spacing: 0;

    tr {

      td:first-child {
        position: relative;
        width: 20px;
        cursor: pointer;
      }

      td:nth-child(2) {
        width: 40%;
      }

      td {
        color: #aaaaaa;
        text-align: left;
        vertical-align: middle;
        line-height: 1.5;
        height: 2.5em;
        padding: 0 12px;

        -webkit-box-shadow: -1px 0 0 0 #353535 inset;
        box-shadow: -1px 0 0 0 #353535 inset;

        a {
          color: #ffffff;
        }
      }

      &:nth-child(odd) {
        td {
          background-color: #303030;
        }
      }

      &.active {
        td {
          background-color: #494740;
          color: #ffffff;
        }
      }

      &.selected {
        td:first-child:after {
          position: absolute;
          right: 5px;
          top: 0;
          font-family: 'Font Awesome 5 Free', serif;
          color: #6dccf1;
          font-size: 0.8rem;
          content: '\f00c';
          display: inline-block;
        }

        td {
          color: #d52b48;
          a {
            color: inherit;
          }
        }
      }

    }
  }
}