.nrgsoft-widget-table-SortableHead {

  background: #000000 linear-gradient(180deg, #454545 0%, #272721 130%);
  border-bottom: #252525 1px solid;
  overflow: hidden;

  table {
    width: 100%;
    border-spacing: 0;

    tr {

      td {
        position: relative;
        text-transform: capitalize;

        text-align: left;
        vertical-align: middle;
        line-height: 1.5;
        height: 2.5em;
        padding: 0 12px;

        -webkit-box-shadow: -1px 0 0 0 #353535 inset;
        box-shadow: -1px 0 0 0 #353535 inset;

        a {
          display: block;
          color: #dddddd;
          cursor: default;
        }

        &.sortable {
          a {
            cursor: pointer;
          }

          a:after {
            position: absolute;
            top: 8px;
            right: 10px;
            font-family: 'Font Awesome 5 Free', serif;
            color: #ffffff;
            content: '\f0dc';
          }

          &.asc {
            a:after {
              top: 10px;
              content: '\f0de';
            }
          }

          &.desc {
            a:after {
              top: 5px;
              content: '\f0dd';
            }
          }

        }

      }
    }
  }

}