<div class="item"
     nrg-toggle-class.uploaded="uploaded"
>
    <a class="close"
       nrg-on.click="close"
    ></a>
    <div class="name">{name}</div>
    <div class="part">
        <span>{loaded}</span>&nbsp;/&nbsp;<span>{total}</span>
    </div>
    <div class="show-in-folder">
        <nrg-widget
            nrg:property="showInFolder"
            nrg:class="nrgsoft.widget.base.Link"
            nrg:access="/file-manager/directory/read"
            content="show in folder"
            url="/"
        ></nrg-widget>
    </div>
    <div class="progress">
        <div class="bar"
             nrg-element="bar"
             nrg-assign.bar.style.width="percent"
        >{percent}</div>
    </div>
</div>