<div>
    <div nrg-bem-element="message">{message}</div>

    <nrg-widget
        nrg:class="nrgsoft.widget.form.CheckboxElement"
        nrg:assign.value="overwrite"
        nrg:bem-element="overwrite"
        label="overwrite files"
    ></nrg-widget>

    <div nrg-bem-element="buttons">
        <nrg-widget
            nrg:class="nrgsoft.widget.base.HotkeyButton"
            nrg:assign.is-active-hotkeys="isActiveHotkeys"
            nrg:bem-modifiers="cancel"
            nrg:on.click="cancel"
            content="cancel"
            click-hotkey="Esc"
        ></nrg-widget>

        <nrg-widget
            nrg:class="nrgsoft.widget.base.HotkeyButton"
            nrg:assign.is-active-hotkeys="isActiveHotkeys"
            nrg:on.click="confirm"
            content="copy"
            click-hotkey="Enter-Shift"
        ></nrg-widget>

        <nrg-widget
            nrg:class="nrgsoft.widget.base.HotkeyButton"
            nrg:assign.is-active-hotkeys="isActiveHotkeys"
            nrg:on.click="move"
            content="move"
            click-hotkey="Shift+Enter"
        ></nrg-widget>
    </div>

</div>