<div>

    <div nrg-bem-element="message">{message}</div>

    <div nrg-bem-element="buttons">
        <nrg-widget
            nrg:class="nrgsoft.widget.base.HotkeyButton"
            nrg:on.click="cancel"
            nrg:assign.is-active-hotkeys="isActiveHotkeys"
            nrg:bem-modifiers="cancel"
            content="cancel"
            click-hotkey="Esc"
        ></nrg-widget>

        <nrg-widget
            nrg:class="nrgsoft.widget.base.HotkeyButton"
            nrg:on.click="confirm"
            nrg:assign.is-active-hotkeys="isActiveHotkeys"
            content="ok"
            click-hotkey="Enter"
        ></nrg-widget>
    </div>

</div>