<div class="nrgsoft-text-editor__index-main"
     nrg-use-traits="nrgsoft.sdk.gui.trigger.Hotkeys"
     nrg-get.hotkeys="{
        save: `Alt+s`,
        print: `Alt+p`
     }|code"
     nrg-on.overview.close="close"
>
    <nrg-widget
        nrg:property="overview"
        nrg:class="nrgsoft.widget.Overview"
    ></nrg-widget>

    <div class="toolbar"
         nrg-element="toolbar"
    >
        <button class="text-editor-save"
            nrg-on.click="save"
        >save
        </button>

        <button class="text-editor-print"
            nrg-on.click="print"
        >print
        </button>
    </div>

    <textarea placeholder="Enter text here"
          nrg-element="textArea"
          nrg-attribute.value="text"
    ></textarea>

</div>