<form
    nrg-on.submit="submit"
    nrg-use-traits="
        nrgsoft.sdk.gui.trigger.WidgetActivity,
        nrgsoft.sdk.gui.trigger.Hotkeys
    "
    nrg-get.hotkeys="{
        close: `Esc`
     }|code"
>
    <div class="header">
        <div class="title">save file</div>
        <div>
            <a href="#" class="control close"
               nrg-on.click="close"
            ></a>
        </div>
    </div>

    <nrg-widget
        nrg:property="form"
        nrg:class="nrgsoft.textEditor.form.Save"
        class-name="body"
    ></nrg-widget>

    <div class="footer">
        <button class="button" type="submit">save</button>
    </div>
</form>
