.nrgsoft-text-editor {

  &__index-main {
    position: absolute;
    width: 100%;
    height: 100%;

    .toolbar {
      @extend .nrgsoft-widget__toolbar;

      .text-editor-save:before {
        content: '\f0c7';
      }

      .text-editor-print:before {
        content: '\f02f';
      }
    }

    textarea {
      resize: none;
      border: none;
      outline: none;
      width: 100%;
      height: calc(100% - 60px);
      vertical-align: text-bottom;

      font-size: 1.4rem;
      background-color: #353535;
      color: #ffffff;
    }
  }
}
