<label>
    <span nrg-bem-element="label">{label}</span>
    <input type="checkbox"
       nrg-attribute.checked="checked"
       nrg-on.change="change"
       nrg-bem-element="input"
    >
    <span nrg-bem-element="checkmark"></span>
</label>