<div class="form-group"
     nrg-inherit="nrgsoft.sdk.form.Element"
>
    <label>{label}</label>
    <span nrg-toggle-class.d-none="!isRequired">*</span>
    <input type="hidden" class="form-control" nrg-toggle-class.is-valid.is-invalid="isValid">
    <small class="form-text text-muted">{helpText}</small>
    <div class="invalid-feedback">{@errorMessage}</div>
    <div
        nrg-append.list="nrgsoft.auth.widget.PermissionsList"
        nrg-assign.list.value="value"
        nrg-assign.list.data="data"
    ></div>
</div>