<div class="user-name-column">

    <div class="user-avatar"
         nrg-toggle-class.has-avatar="hasAvatar"
    >
        <a href=""
           nrg-attribute.href="avatarUrl"
           nrg-route-to.avatar-url="click"
        >
            <img alt="avatar" src="" nrg-attribute.src="avatar">
            <i class="fas fa-user-circle"></i>
        </a>
    </div>

    <div class="user-info">
        <div class="account-name">
            <a href=""
               nrg-attribute.href="nameUrl"
               nrg-route-to.name-url="click"
            >{name}</a>
        </div>

        <div class="user-description"
             nrg-append.role-links="nrgsoft.auth.widget.RoleLinks"
             nrg-assign.role-links.roles="roles"
        ></div>

    </div>

    <div class="clearfix"></div>
</div>