<div class="form-element"
     nrg-inherit="nrgsoft.sdk.form.Element"
     nrg-use-traits="nrgsoft.widget.form.Focus"
     nrg-toggle-class.is-valid.is-invalid="isValid"
     nrg-toggle-class.is-required="isRequired"
>
    <label>{label}</label>
    <input type="password"
       nrg-element="input"
       nrg-attribute.value="value"
       nrg-attribute.placeholder="placeholder"
    >
    <div class="error-message">{@errorMessage}</div>
</div>