<li class="nav-item"
    nrg-inherit="nrgsoft.sdk.data.nestedList.Item"
    nrg-use-traits="
        nrgsoft.auth.widget.permissionsList.OnToggleCheck,
        nrgsoft.widget.nestedList.OnToggleCollapse
    "
>
    <i class="fas fa-lg float-left mt-1" aria-hidden="true"
       nrg-on.click="toggleCollapse"
       nrg-toggle-class.fa-caret-right.fa-caret-down="collapsed|expanded"
    ></i>
    <div class="ml-4"
         nrg-append.checkbox="nrgsoft.widget.form.CheckboxElement"
         nrg-assign.checkbox.value="checked"
         nrg-assign.checkbox.caption="caption"
         nrg-on.checkbox.change="toggleCheck"
    ></div>
</li>