<form nrg-on.submit="submit">

    <div nrg-bem-element="content">

        <h1>login</h1>

        <nrg-widget
            nrg:property="form"
            nrg:class="nrgsoft.auth.form.user.Login"
        ></nrg-widget>

        <div nrg-bem-element="footer">
            <nrg-widget
                nrg:class="nrgsoft.widget.base.Button"
                content="login"
                type="submit"
            ></nrg-widget>
        </div>

    </div>
</form>