<div>
    <h1 class="header">{header|profile}</h1>

    <div class="profile-avatar"
        nrg-toggle-class.has-avatar="hasAvatar"
    >
        <img alt="avatar" src="" nrg-attribute.src="avatar">
        <i class="fas fa-user-circle"></i>
    </div>

    <div
        nrg-append.avatar-file="@nrgsoft.auth.form.user.element.Avatar"
        nrg-on.avatar-file.select-files="selectAvatarFile"
    ></div>

    <h2>{name}</h2>
    <small class="d-block text-muted">Created At:&emsp;<span>{createdAt}</span></small>
    <small nrg-toggle-class.d-none="!hasUpdated" class="text-muted">
        Updated At:&emsp;<span>{updatedAt}</span>
    </small>
    <p>{description}</p>
    <div
        nrg-append.permission-list="nrgsoft.widget.NestedList"
        nrg-assign.permission-list.data="permissionNestedList"
    ></div>

    <div
        nrg-append.role-links="nrgsoft.auth.widget.RoleLinks"
        nrg-assign.role-links.roles="roles"
    ></div>
</div>