<div>
    <div nrg-bem-element="caption">{caption}</div>

    <div nrg-bem-element="progress">
        <div nrg-bem-element="bar"
             nrg-element="bar"
             nrg-assign.bar.style.width="percent"
        >{percent}</div>
    </div>
</div>