.content-navigation {

  text-transform: capitalize;

  .top-menu {
    background-color: #214559;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    a {
      width: 100px;
      padding: 4px 0;
      text-align: center;
      color: #ffffff;
      &.active, &:hover {
        background-color: #2e5f7b;
      }
    }
  }

  .sub-menu {
    background-color: #2e5f7b;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 10px;

    a {
      width: 100px;
      padding: 4px 0;
      text-align: center;
      color: #ffffff;
      &.active, &:hover {
        color: #2e5f7b;
        background-color: #ffffff;

      }
    }
  }
}