.nav-list {
  position: relative;
  padding-top: 30px;

  li {
    a {
      display: block;
      padding: 12px 15px;
      color: #ffffff;
      text-transform: capitalize;

      &:hover {
        background-color: #2e5f7b;
      }

      i {
        width: 35px;
        font-size: 20px;
      }
    }
  }
}