.nrg-container {
  display: flex;

  .left-bar {
    min-width: 275px;
    height: 100vh;
    background-color: #214559;
  }

  .content {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
  }
}