.shortcut-menu {
  min-height: 55px;
  background-color: #2e5f7b;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  a {
    width: 50px;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;

    &:hover {
      background-color: #214559;
    }

    i {
      font-size: 1.5rem;
    }
  }
}