<div
    nrg-on.table.ask-to-add-condition="askToShowFilter"
>

    <h1 class="header">{header|users}</h1>

    <div class="row">

        <div class="col-md-6">

            <nav class="float-left mr-md-2">
                <engine-widget
                    engine:property="pagination"
                    engine:class="nrgsoft.widget.Pagination"
                ></engine-widget>
            </nav>

            <div class="float-left">
                <engine-widget
                    engine:property="limitation"
                    engine:class="nrgsoft.widget.Limitation"
                ></engine-widget>
            </div>

        </div>

        <div class="col-md-6 text-right">

            <button class="btn btn-primary mr-md-2"
                nrg-on.click="askToShowForm"
            >
                <i class="fas fa-plus"></i>
            </button>

            <button class="btn btn-primary"
                nrg-on.click="askToShowFilter"
            >
                <i class="fas fa-filter"></i>
            </button>

        </div>
    </div>

    <engine-widget
        engine:property="table"
        engine:class="nrgsoft.widget.Table"
    ></engine-widget>

    <engine-widget
        engine:property="panels"
        engine:class="nrgsoft.widget.Panels"
    ></engine-widget>

    <div class="d-none">

        <engine-widget
            engine:property="form"
            engine:class="nrgsoft.auth.form.user.Create"
        ></engine-widget>

        <engine-widget
            engine:property="filter"
            engine:class="nrgsoft.widget.Filter"
        ></engine-widget>

    </div>

</div>