<div>
    <div nrg-insert="form"></div>

    <nrg-widget
        nrg:class="nrgsoft.widget.dialog.Confirm"
        nrg:assign.is-active-hotkeys="isActiveWidget"
        nrg:on.confirm="confirm"
        nrg:on.cancel="cancel"
    ></nrg-widget>
</div>
