<div>
    <nrg-widget
        nrg:class="nrgsoft.widget.menu.Dropdown"
        nrg:bem-modifiers="plus"
    >
        <nrg-widget
            nrg:class="nrgsoft.widget.base.HotkeyLink"
            nrg:event="appendLink"
            nrg:bem-element="new-folder"
            nrg:assign.is-active-hotkeys="isActiveHotkeys"
            nrg:on.before-go-to="createDirectory"
            click-hotkey="Ctrl+d"
            url="/file-manager/directory/create"
            title="Ctrl+d"
            content="directory"
        ></nrg-widget>

        <nrg-widget
            nrg:property="newFile"
            nrg:class="nrgsoft.widget.base.HotkeyLink"
            nrg:event="appendLink"
            nrg:bem-element="new-file"
            nrg:assign.is-active-hotkeys="isActiveHotkeys"
            nrg:on.before-go-to="createFile"
            click-hotkey="Ctrl+f"
            url="/text-editor"
            title="Ctrl+f"
            content="file"
        ></nrg-widget>

        <nrg-widget
            nrg:class="nrgsoft.widget.base.HotkeyLink"
            nrg:event="appendLink"
            nrg:bem-element="new-hyperlink"
            nrg:assign.is-active-hotkeys="isActiveHotkeys"
            nrg:on.before-go-to="createHyperlink"
            click-hotkey="Ctrl+h"
            url="/file-manager/hyperlink/create"
            title="Ctrl+h"
            content="hyperlink"
        ></nrg-widget>
    </nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.base.HotkeyLink"
        nrg:event="appendLink"
        nrg:bem-element="copy-file"
        nrg:assign.is-active-hotkeys="isActiveHotkeys"
        nrg:on.before-go-to="copyFile"
        click-hotkey="Ctrl+c"
        url="/file-manager/file/copy"
        title="copy (move)"
    ></nrg-widget>

    <nrg-widget
        nrg:property="uploadFile"
        nrg:class="nrgsoft.widget.base.HotkeyLink"
        nrg:event="appendLink"
        nrg:bem-element="upload-file"
        nrg:assign.is-active-hotkeys="isActiveHotkeys"
        nrg:on.before-go-to="uploadFile"
        click-hotkey="Ctrl+u"
        url="/file-uploader"
        title="upload"
    ></nrg-widget>

    <nrg-widget
        nrg:property="downloadFile"
        nrg:class="nrgsoft.widget.base.HotkeyLink"
        nrg:event="appendLink"
        nrg:bem-element="download-file"
        nrg:assign.is-active-hotkeys="isActiveHotkeys"
        nrg:on.before-go-to="downloadFile"
        click-hotkey="Alt+d"
        url="/file-manager/file/download"
        title="download"
    ></nrg-widget>

    <nrg-widget
        nrg:property="zipFile"
        nrg:class="nrgsoft.widget.base.HotkeyLink"
        nrg:event="appendLink"
        nrg:bem-element="zip-file"
        nrg:assign.is-active-hotkeys="isActiveHotkeys"
        nrg:on.before-go-to="zipFile"
        click-hotkey="Ctrl+a"
        url="/file-manager/file/zip"
        title="zip"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.base.HotkeyLink"
        nrg:event="appendLink"
        nrg:bem-element="rename-file"
        nrg:assign.is-active-hotkeys="isActiveHotkeys"
        nrg:on.before-go-to="renameFile"
        click-hotkey="Ctrl+r"
        url="/file-manager/file/rename"
        title="rename"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.base.HotkeyLink"
        nrg:event="appendLink"
        nrg:bem-element="delete-file"
        nrg:assign.is-active-hotkeys="isActiveHotkeys"
        nrg:on.before-go-to="deleteFile"
        click-hotkey="Delete"
        url="/file-manager/file/delete"
        title="delete"
    ></nrg-widget>

    <nrg-widget
        nrg:property="storageList"
        nrg:class="nrgsoft.widget.menu.Dropdown"
    ></nrg-widget>

</div>