<div
    nrg-toggle-class="displayProgress:--show-progress|--hide-progress"
>
    <nrg-widget
        nrg:property="toolbar"
        nrg:class="nrgsoft.fileManager.view.directory.read.Toolbar"
    ></nrg-widget>

    <nrg-widget
        nrg:property="breadcrumbs"
        nrg:class="nrgsoft.fileManager.view.directory.read.Breadcrumbs"
    ></nrg-widget>

    <nrg-widget
        nrg:property="head"
        nrg:class="nrgsoft.widget.table.SortableHead"
    ></nrg-widget>

    <nrg-widget
        nrg:property="body"
        nrg:class="nrgsoft.fileManager.view.directory.read.Grid"
        nrg:bem-element="body"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.progress.Spinner"
        nrg:bem-element="progress"
    ></nrg-widget>

</div>