.nrgsoft-widget-layout-modal-Header {

  display: flex;
  justify-content: space-between;
  background: #000000 linear-gradient(180deg, #454545 0%, #272721 130%);
  border-bottom: #252525 1px solid;
  padding: 10px;

  &__title {
    color: #ffffff;
    text-transform: capitalize;
  }

  &__close {
    margin-left: 10px;
    cursor: pointer;

    &:before {
      font-family: 'Font Awesome 5 Free', serif;
      content: '\f057';
      font-size: 1.1rem;
      color: #d52b48;
    }

    &:hover:before {
      color: #F43152;
    }
  }

}