<div>
    <nrg-widget
        nrg:property="pathElement"
        nrg:class="nrgsoft.fileManager.form.file.element.Path"
        nrg:event="appendElement"
        label="Directory Name"
        placeholder="NewFolder"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.form.CheckboxElement"
        nrg:event="appendElement"
        nrg:on.change="toggleTarget"
        name="toCurrentDirectory"
        label="to current directory"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.widget.form.CheckboxElement"
        nrg:event="appendElement"
        name="overwrite"
        label="overwrite files"
    ></nrg-widget>
</div>