<div
    nrg-inherit="nrgsoft.sdk.form.Form"
    nrg-use-traits="nrgsoft.sdk.form.observer.OnAppendElement"
>
    <nrg-widget
        nrg:class="nrgsoft.fileManager.form.storage.element.Name"
        nrg:event="appendElement"
        label="name"
        placeholder="new storage"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.fileManager.form.storage.element.Description"
        nrg:event="appendElement"
        label="description"
        placeholder="short text about storage"
    ></nrg-widget>

    <div style="display: flex">

        <div>
            <nrg-widget
                nrg:class="nrgsoft.fileManager.form.storage.ftp.element.Host"
                nrg:event="appendElement"
                label="host"
                placeholder="ftp.server.com"
            ></nrg-widget>

            <nrg-widget
                nrg:class="nrgsoft.fileManager.form.storage.ftp.element.Username"
                nrg:event="appendElement"
                label="username"
                placeholder="username"
            ></nrg-widget>

            <nrg-widget
                nrg:class="nrgsoft.fileManager.form.storage.ftp.element.Password"
                nrg:event="appendElement"
                label="password"
                placeholder="password"
            ></nrg-widget>
        </div>

        <div>
            <nrg-widget
                nrg:class="nrgsoft.fileManager.form.storage.ftp.element.Port"
                nrg:event="appendElement"
                label="port"
                placeholder="port number"
            ></nrg-widget>

            <nrg-widget
                nrg:class="nrgsoft.fileManager.form.storage.ftp.element.Root"
                nrg:event="appendElement"
                label="root"
                placeholder="root path"
            ></nrg-widget>

            <nrg-widget
                nrg:class="nrgsoft.fileManager.form.storage.ftp.element.Timeout"
                nrg:event="appendElement"
                label="timeout"
                placeholder="timeout"
            ></nrg-widget>

            <nrg-widget
                nrg:class="nrgsoft.fileManager.form.storage.ftp.element.Passive"
                nrg:event="appendElement"
                label="passive"
                name="passive"
            ></nrg-widget>

            <nrg-widget
                nrg:class="nrgsoft.fileManager.form.storage.ftp.element.Ssl"
                nrg:event="appendElement"
                label="ssl"
                name="ssl"
            ></nrg-widget>
        </div>

    </div>

</div>