.nrgsoft-widget-progress-Item {

  &__caption {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  &__progress {
    width: 100%;
    background-color: #ddd;
  }

  &__bar {
    width: 0;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }
}