<div
     nrg-use-traits="
        nrgsoft.widget.layout.behaviour.ActivateContent,
        nrgsoft.widget.layout.behaviour.Append
    "
>
    <div nrg-bem-element="window">
        <nrg-widget
            nrg:class="nrgsoft.widget.layout.modal.Header"
            nrg:assign.title="title"
            nrg:on.close="close"
        ></nrg-widget>

        <div
            nrg-bem-element="content"
            nrg-insert="@content"
        ></div>
    </div>
</div>