.nrgsoft-auth-view-user-Login {
  height: 85vh;
  padding-top: 15vh;

  &__content {
    max-width: 520px;
    margin: 0 auto;
    padding: 20px 40px 40px;
    background-color: #303030;
    border-top: #6dccf1 4px solid;

    h1 {
      text-transform: capitalize;
      text-align: center;
      font-weight: lighter;
      margin-bottom: 30px;
      color: #ffffff;
    }
  }

  &__footer {
    margin-top: 40px;

    .nrgsoft-widget-standard-Button {
      width: 100%;
    }
  }
}