.nrgsoft-fileManager-view-layout-MainMenu {

  @extend .nrgsoft-widget__toolbar;

  &__home {
    @include menu-item-icon('\f015');
  }

  &__storage-list {
    @include menu-item-icon('\f0c2');
  }

  &__logout{
    @include menu-item-icon('\f2f5');
  }

}