.nrgsoft-widget-base- {

  &Button, &HotkeyButton {
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    padding: .6rem 1.2rem;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: #6dccf1;
    line-height: 1.5;

    &:hover, &:focus {
      background-color: #4e92ad;
    }

    &--cancel {
      background-color: #d52b48;
    }
  }
}