<div
    nrg-inherit="nrgsoft.sdk.data.List"
    nrg-use-traits="nrgsoft.sdk.data.observer.VisualList"
    nrg-get.item-class="nrgsoft.widget.table.Column|class"
    nrg-assign.data="fields"
>
    <table nrg-element="table">
        <tr nrg-element="visualList"></tr>
    </table>
</div>
