<div
    nrg-inherit="nrgsoft.sdk.data.SortableList"
    nrg-use-traits="
        nrgsoft.sdk.data.observer.VisualList,
        nrgsoft.widget.table.sortableHead.ItemClass
    "
    nrg-assign.data="fields"
>
    <table nrg-element="table">
        <tr nrg-element="visualList"></tr>
    </table>
</div>
