.nrgsoft-file-uploader {

  &__index-main {
    color: #ffffff;

    .list {
      padding: 40px;

      .item {
        position: relative;
        border: #2fa6e2 solid 2px;
        margin-bottom: 10px;
        padding: 10px;

        .close {
          display: none;
          position: absolute;
          right: 10px;

          &:before {
            font-family: 'Font Awesome 5 Free', serif;
            cursor: pointer;
            content: '\f00d';
          }
        }

        .name {
          font-size: 1.1rem;
          margin-bottom: 10px;
        }

        .progress {
          width: 100%;
          background-color: #ddd;

          .bar {
            width: 0;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
          }
        }

        .show-in-folder {
          display: none;
          a {
            color: #ffffff;
          }
        }

        &.uploaded {
          .close, .show-in-folder {
            display: block;
          }

          .part, .progress {
            display: none;
          }
        }
      }
    }
  }
}
