<div class="nrgsoft-file-uploader__index-main"
     nrg-on.overview.close="close"
>
    <nrg-widget
        nrg:property="overview"
        nrg:class="nrgsoft.widget.Overview"
    ></nrg-widget>

    <input type="file" nrg-on.change="selectFiles" multiple>

    <nrg-widget
        nrg:property="uploadList"
        nrg:class="nrgsoft.fileUploader.widget.UploadList"
    ></nrg-widget>

</div>