<div nrg-toggle-class.--expanded="expanded|collapsed">

    <div
        nrg-on.click="toggle"
        nrg-bem-element="toggle"
    >{caption}</div>

    <div
        nrg-element="visualList"
        nrg-bem-element="list"
    ></div>

</div>