.nrgsoft-widget-dialog-Confirm {

  &__message {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      flex-basis: 49%;
    }
  }

}
