<li class="nav-item dropdown">
    <a class="nav-link" href="#"
       nrg-on.click="askToToggle"

       nrg-element="link"
    >
        <div class="user-avatar"
             nrg-toggle-class.has-avatar="hasAvatar"
        >
            <img alt="avatar" src="" nrg-attribute.src="avatar">
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="user-info">
            <div class="account-name">{name}</div>
            <div class="user-description">{description}</div>
        </div>
        <div class="clearfix"></div>
    </a>

    <div class="dropdown-menu"
         nrg-toggle-class.show="isShown|isHidden"
    >
        <a class="dropdown-item" href="/auth/user/profile"
           nrg-attribute.href="profileUrl"
           nrg-route-to.profile-url="click"
        >
            <i class="fas fa-user-circle"></i>
            <span class="dropdown-text">{profile|profile}</span>
        </a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/auth/user/logout"
           nrg-attribute.href="logoutUrl"
           nrg-route-to.logout-url="click"
        >
            <i class="fas fa-sign-out-alt"></i>
            <span class="dropdown-text">{logout|logout}</span>
        </a>
    </div>
</li>