<div
    nrg-inherit="nrgsoft.sdk.form.Form"
    nrg-use-traits="nrgsoft.sdk.form.observer.OnAppendElement"
>
    <nrg-widget
        nrg:class="nrgsoft.fileManager.form.storage.element.Name"
        nrg:event="appendElement"
        label="name"
        placeholder="new storage"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.fileManager.form.storage.element.Description"
        nrg:event="appendElement"
        label="description"
        placeholder="short text about storage"
    ></nrg-widget>

    <nrg-widget
        nrg:class="nrgsoft.fileManager.form.storage.local.element.Root"
        nrg:event="appendElement"
        label="root"
        placeholder="path to root folder"
    ></nrg-widget>

</div>