.nrgsoft-widget-menu-Dropdown {

  $root: &;

  position: relative;
  color: #ffffff;
  background-color: #3f3f3f;

  &__toggle {
    position: relative;
    cursor: pointer;
    padding: 7px;
    min-width: 200px;
    min-height: 19px;

    &:after {
      position: absolute;
      top: 7px;
      right: 7px;
      font-family: "Font Awesome 5 Free", serif;
      content: '\f0d7';
    }
  }

  &__list {
    z-index: 10;
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #303030;
    min-width: 200px;
    padding: 7px;

    a {
      color: #ffffff;
      padding: 7px;
      &.active, &:hover {
        background-color: #454545;
      }
    }
  }

  &--expanded &__list {
    display: flex;
  }

  &--expanded &__toggle {
    @include caret-up();
  }

  &--plus {

    background-color: #252525;
    padding: 10px 12px;

    #{$root}__toggle {
      min-width: 10px;

      &:after {
        content: '\f055';
      }
    }

  }
}